html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.App {
  text-align: center;
}

.navbar {
  background: #ffe31a;
  padding: 10px 0;
  border: 1px solid #ffe31a;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.menu a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.menu a:hover {
  color: #000;
}

.alert {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #f7b5b5;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
  text-align: left;
}

.search {
  max-width: 1000px;
  margin: 30px auto 0;
}

.search input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #f0d614;
}

button {
  max-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #f0d614;
}

button:hover {
  background-color: #f1db2f;
}

.users-list {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border: 2px solid #ffe31a;
  margin-bottom: 20px;
}

.user img {
  display: block;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto 15px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ffe31a;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffe31a transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user a {
  color: crimson;
  font-weight: bold;
  display: block;
  margin-top: 5px;
  text-decoration: none;
}

.user a:hover {
  color: #f0d614;
}

.about {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}